body
{
  background-color: #DFDFDF;
  font-family: 'Patrick Hand', cursive;
  height: 100%;
  min-height: 100%;
}

a 
{
  text-decoration: none;
}

p 
{
  margin: 0;
}

/*------------------------------------Navigation Bar section----------------------------------*/

.top-nav
{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 45px;
  background-color: #FAA41B;
  overflow: hidden;
}

.left-nav 
{
  position: fixed;
  top: 0;
  left: 0;
}

.right-nav 
{
  position: fixed;
  top: 0;
  right: 0;
}

.left-nav, .right-nav 
{
  height: 45px;
  padding: 0;
  color: white;
}

.left-nav a 
{
  float: left;
  color: white;
  height: 45px;
  font-size: 25px;
  text-align: center;
  display: block;
  width: 90px;
}

.left-nav a:hover 
{
  background-color: #CC9022;
}

.right-nav a /* change to form*/
{
  float: right;
}

.splitter
{
  margin-top: 5px;
  float: left;
  height: 35px;
  text-align: center;
  display: block;
  width: 1px;
  border-left: 2px solid rgb(221, 145, 24);
}

.search-container 
{
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 45px;
  text-align: right;
}

#search-bar 
{
  position: absolute;
  top: 5px;
  right: 55px;
  background-color: #DFDFDF;
  border-radius: 10px;
  border: none;
  height: 35px;
  width: 40vw;
  margin: auto;
  padding-left: 15px;
  padding-right: 5px;
  font-size: 17px;
  font-family: 'Patrick Hand', cursive;
  display: inline-block;
}

#submit-button 
{
  position: absolute;
  top: 7px;
  right: 10px;
  height: 30px;
  display: inline-block;
}

/*------------------------------------Responsiveness----------------------------------*/

@media only screen and (max-width: 1300px) {
  /* When the search bar hits the nav buttons */
  .top-nav
  {
    height: 90px;
  }

  .left-nav
  {
    position: absolute;
    right: 0;
    top: 0;
    left: 2vw;
    height: 45px;
    text-align: center;
  }

  .left-nav a 
{
  margin: auto;
  width: 16vw;
}

.splitter
{
  visibility: hidden;
}

  .right-nav
  {
    position: absolute;
    top: 45px;
  }

  .right-nav, .search-container
  {
    bottom: 0;
    right: 0;
    left: 0;
    text-align: center;
    height: 60px;
  }
  #search-bar
  {
    width: 90vw;
    right: 5vw;
    left: 5vw;
  }
  #submit-button
  {
    visibility: hidden;
  }
}

/*------------------------------------The main body section----------------------------------*/

.about-content
{
  position: absolute;
  top: 45px;
  right: 0;
  left: 0;
  margin: 0;
  min-height: 900px;
  overflow: hidden;
  z-index: -1;
}

.about-content__logo 
{
  position: relative;
  right: 0;
  left: 0;
  top: 0;
  text-align: left;
  background-color: #D32A4C;
}

#logo-paw
{
  margin-left: 10vw;
  margin-top: 40px;
  height: 25vh;
}

#logo-name
{
  height: 9vh;
  margin-bottom: 10px;
}

.about-content__text
{
  position: relative;
  margin-right: 12vw;
  margin-left: 12vw;
  display: block;
}

.about-content__text h1
{
  font-size: 33px;
}

.about-content__text p
{
  font-size: 20px;
  right: 100px;
}

.about-content__members
{
  position: relative;
  top: 5vh;
  margin-right: 1vw;
  margin-left: 1vw;
  display: block;
  text-align: center;
}

.about-content__members-block
{
  position: relative;
  display: inline-block;
  margin: auto;
  width: 12vw;
  min-width: 150px;
  padding-bottom: 20px;
}

.member-pic
{
  height: 100px;
}

.name 
{
  font-size: 25px;
}

.role 
{
  color: #e6a226;
  font-size: 20px;
}

/*------------------------------------Main Body Responsiveness----------------------------------*/

@media only screen and (max-width: 1300px)
{
  .about-content
  {
    top: 90px;
  }
  .about-content__logo
  {
    text-align: center;
  }
  #logo-paw
  {
    margin-left: 0;
  }
}

/*------------------------------------footer----------------------------------*/


.footer
{
  position: absolute;
  bottom: 0;
  left: 10px;
  right: 10px;
  height: 80px;
  border-top: 1px solid rgb(158, 158, 158);
  padding: 0;
  color: rgb(158, 158, 158);
  display: block;
}


.footer-right, .footer-left
{
  position: absolute;
  top: 5px;
  height: 50px;
  padding: 0;
  margin: 0;
}

.footer-left
{
  left: 10px;
}

.footer-right
{
  right: 10px;
}

.footer-right a
{
  padding-left: 10px;
  padding-right: 10px;
  color: rgb(158, 158, 158);
}

.footer-right__links
{
  border-right: 1px solid rgb(158, 158, 158);
}

.footer-right a:hover
{
  color: white;
}

#copyright
{
  position: absolute;
  bottom: 5px;
  right: 20px;
}

