body
{
  background-color: #DFDFDF;
  font-family: 'Patrick Hand', cursive;
  height: 100%;
  min-height: 100%;
}
a 
{
  text-decoration: none;
}
p
{
  margin: 0;
}
/*------------------------------------Section for the Logo----------------------------------*/
.logo-container
{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 55px;                     /* container height */
  background-color: #d32a4c;
}

#logo
{
  position: relative;
  height: 50px;
}

/*------------------------------------Navigation Bar section----------------------------------*/

.top-nav
{
  position: fixed;
  top: 55px;                           /*container height*/
  left: 0;
  right: 0;
  height: 45px;
  background-color: #FAA41B;
  overflow: hidden;
}

.left-nav 
{
  position: absolute;
  top: 0;
  left: 0;
}

.right-nav 
{
  position: absolute;
  top: 0;
  right: 0;
}

.left-nav, .right-nav 
{
  height: 45px;
  padding: 0;
}

.left-nav a 
{
  float: left;
  color: black;
  height: 45px;
  font-size: 25px;
  text-align: center;
  width: 90px;
}

.left-nav a:hover 
{
  background-color: #CC9022;
}

.right-nav a /* change to form*/
{
  float: right;
}

.splitter
{
  margin-top: 5px;
  float: left;
  height: 35px;
  text-align: center;
  display: block;
  width: 1px;
  border-left: 2px solid rgb(221, 145, 24);
}

.search-container 
{
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 45px;
  text-align: right;
}

#search-bar 
{
  position: absolute;
  top: 5px;
  right: 55px;
  background-color: #DFDFDF;
  border-radius: 10px;
  border: none;
  height: 35px;
  width: 40vw;
  margin: auto;
  padding-left: 15px;
  padding-right: 5px;
  font-size: 17px;
  font-family: 'Patrick Hand', cursive;
  display: inline-block;
}

#submit-button 
{
  position: absolute;
  top: 7px;
  right: 10px;
  height: 30px;
  display: inline-block;
}

/*------------------------------------Responsiveness----------------------------------*/

@media only screen and (max-width: 1300px) {

  /*      logo container    */
  #logo
  {
    display: block;
    margin: auto;
  }

  /* When the search bar hits the nav buttons */
  .top-nav
  {
    height: 90px;
    z-index: +1;
  }

  .left-nav
  {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 45px;
    display: flex;
  }

    .left-nav a 
  {
    margin: auto;
    width: 15vw;
    justify-content: space-around;
  }

  .splitter
  {
    visibility: hidden;
  }

  .right-nav
  {
    position: absolute;
    top: 45px;
  }

  .right-nav, .search-container
  {
    bottom: 0;
    right: 0;
    left: 0;
    text-align: center;
    height: 60px;
  }
  #search-bar
  {
    width: 90vw;
    right: 5vw;
    left: 5vw;
  }
  #submit-button
  {
    visibility: hidden;
  }
}

/*------------------------------------content----------------------------------*/

.content-container
{
  position: absolute;
  top: 100px;
  left: 0;
  right: 0;
  min-height: 74vh;
  padding-bottom: 80px;
  z-index: -1;
}

.item-container
{
  position: relative;
  top: 40px;
  width: 70vw;
  height: 700px;
  margin: auto;
  background: #FAA41B;
  border-radius: 20px;
}

.item-container__name
{
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  display: block;
  padding-left: 20px;
  margin-bottom: 10px;
}

.item-container__name h1 
{
  color: #931E36;
  margin: 0;
  display: block;
  font-size: 50px;
}

.item-container__name p
{
  font-size: 30px;
  color: black;
  display: inline;
  margin-right: 15px;
}

.item-container__name img 
{
  position: relative;
  height: 25px;
  margin: 0;
}

.item-container__image
{
  position: relative;
  left: 20px;
  width: 35vw;
  height: 550px;
  border-radius: 10px;
  background-color: rgb(32, 32, 32);
  display: flex;
  overflow: hidden;
}

.item-container__image img 
{
  display: block;
  margin: auto;
}

.item-container__description
{
  position: absolute;
  right: 20px;
  bottom: 30px;
  height: 530px;
  width: 27vw;
  background-color: rgb(255, 209, 134);
  border-radius: 10px;
  display: block;
  padding: 10px;
  overflow: scroll;
}

.item-container__description h1
{
  color: #931E36;
  margin-right: 50px;
  font-size: 50px;
  margin: 0;
}

.item-container__description li
{
  font-size: 25px;
}

.contact-button
{
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  border-radius: 25px;
  background-color: rgb(0, 206, 27);
  text-align: center;
  align-items: center;
  justify-content: space-around;
}

.contact-button a
{
  padding: 5px 40px;
  color: white;
  display: block;
  height: 45px;
  font-size: 25px;
}

.contact-button:hover
{
  background-color: rgb(0, 165, 22);
}

/*------------------------------related listings----------------------------*/

.related-items__text
{
  position: relative;
  top: 50px;
  left: 0;
  right: 0;
  display: block;
  margin: auto;
  font-size: 30px;
  color: #A2A2A2;
  text-align: center;
}

.related-items
{
  position: relative;
  left: 0;
  right: 0;
  height: 250px;
  margin-top: 50px;
  display: flex;
  background-color: #A2A2A2;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 40px;
}

.related-items__block
{
  position: relative;
  height: 200px;
  width: 200px;
  display: flex;
  background-color: #FAA41B;
  border-radius: 10px;
  overflow: hidden;
  object-fit: cover;
}

.related-items__block img 
{
  display: block;
}

/*----------------------------responsiveness content--------------------------*/


/*------------------------------------footer----------------------------------*/

.footer
{
  position: absolute;
  bottom: 0;
  left: 10px;
  right: 10px;
  height: 80px;
  border-top: 1px solid rgb(158, 158, 158);
  padding: 0;
  color: rgb(158, 158, 158);
  display: block;
}


.footer-right, .footer-left
{
  position: absolute;
  top: 5px;
  height: 50px;
  padding: 0;
  margin: 0;
}

.footer-left
{
  left: 10px;
}

.footer-right
{
  right: 10px;
}

.footer-right a
{
  padding-left: 10px;
  padding-right: 10px;
  color: rgb(158, 158, 158);
}

.footer-right__links
{
  border-right: 1px solid rgb(158, 158, 158);
}

.footer-right a:hover
{
  color: white;
}

#copyright
{
  position: absolute;
  bottom: 5px;
  right: 20px;
}