body {
	background-color: #d32a4c;
  	font-family: 'Patrick Hand', cursive;
}

/*box for login/register*/
.infobox{
	width: 320px;
	height: 420px;
	background: #931e36;
	color: #000;
	top: 50%;
	left: 50%;
	position: absolute;
	transform: translate(-50%,-50%);
	box-sizing: border-box;
	opacity: 60%;
	font-family: 'Patrick Hand', cursive;
}

/*box for login/register (register side)*/
.infoboxReg{
	width: 320px;
	height: 620px;
	background: #931e36;
	color: #000;
	top: 50%;
	left: 50%;
	position: absolute;
	transform: translate(-50%,-50%);
	box-sizing: border-box;
	opacity: 60%;
	font-family: 'Patrick Hand', cursive;
}

.login{
	background: #e6a226;
	width: 160px;
	height: 60px;
	font-size: 25px;
	padding: 15px;
	border: none;
	color: white;
	display: inline-block;
	cursor: pointer;
	transition: 0.3s;
	font-family: 'Patrick Hand', cursive;
}

.login:hover {
	background-color: #e6b628;
}

.loginSelect {
	background: #e6b628;
	width: 160px;
	height: 60px;
	font-size: 25px;
	padding: 15px;
	border: none;
	color: white;
	display: inline-block;
	transition: 0.3s;
	font-family: 'Patrick Hand', cursive;
}

.register{
	background: #e6a226;
	width: 160px;
	height: 60px;
	font-size: 25px;
	padding: 15px;
	border: none;
	color: white;
	display: inline-block;
	float: right;
	cursor: pointer;
	transition: 0.3s;
	font-family: 'Patrick Hand', cursive;
}

.registerSelect{
	background: #e6b628;
	width: 160px;
	height: 60px;
	font-size: 25px;
	padding: 15px;
	border: none;
	color: white;
	display: inline-block;
	float: right;
	transition: 0.3s;
	font-family: 'Patrick Hand', cursive;
}


.register:hover {
	background-color: #e6b628;
}

.info{
	width: 320px;
	height: 260px;
	background: #931e36;
	color: #fff;
	top: 50%;
	left: 50%;
	position: absolute;
	transform: translate(-50%,-50%);
	box-sizing: border-box;
	padding-left: 70px;
	font-family: arial;
	opacity: 60%;
	font-family: 'Patrick Hand', cursive;
}

.infoReg{
	width: 320px;
	height: 460px;
	background: #931e36;
	color: #fff;
	top: 50%;
	left: 50%;
	position: absolute;
	transform: translate(-50%,-50%);
	box-sizing: border-box;
	padding-left: 70px;
	font-family: arial;
	opacity: 60%;
	font-family: 'Patrick Hand', cursive;
}

.info input{
	width: 80%;
	margin-bottom: 20px;
	background: transparent;
	outline: none;
	height: 40px;
	font-family: 'Patrick Hand', cursive;
}

.infoReg input{
	width: 80%;
	margin-bottom: 20px;
	background: transparent;
	outline: none;
	height: 40px;
	font-family: 'Patrick Hand', cursive;
}

.info input[type="text"], input[type="password"]{
	border: none;
	border-bottom: 1px solid #fff;
	background: transparent;
	outline: none;
	color: #fff;
	font-size: 16px;
}

.infoReg input[type="text"], input[type="password"]{
	border: none;
	border-bottom: 1px solid #fff;
	background: transparent;
	outline: none;
	color: #fff;
	font-size: 16px;
}

.info input[type="submit"]{
	border: none;
	outline: none;
	background: #e6a226;
	color: #fff;
	font-size: 18px;
	border-radius: 20px;
	cursor: pointer;
	transition: 0.3s;
}

.infoReg input[type="submit"]{
	border: none;
	outline: none;
	background: #e6a226;
	color: #fff;
	font-size: 18px;
	border-radius: 20px;
	cursor: pointer;
	transition: 0.3s;
}

.info input[type="submit"]:hover{
	background-color: #e6b628;
}

.infoReg input[type="submit"]:hover{
	background-color: #e6b628;
}